<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
        <!-- Database url -->
        <property name="connection.url">jdbc:derby:testdb</property>
        <!-- Dialect for hibernate -->
        <property name="dialect">org.hibernate.dialect.DerbyTenSevenDialect</property>

        <!--<property name="connection.username"></property>-->
        <!--<property name="connection.password"></property>-->

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Autocreate -->
        <property name="hbm2ddl.auto">update</property>

        <!-- MAPPING -->
        <mapping class="database.models.Customer"></mapping>
    </session-factory>
</hibernate-configuration>
